.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: helvetica, arial, sans-serif;
  color: white;
  grid-template-areas:
  "hover"
  "disabled"
  ;
  height: 500px;
}
.hoverMe {
  grid-area: hover;
  background-color: green;
  color: white;
  width: 150px;
  text-align: center;
  height: 50px;
  transition: 1.2s;

}
/* active state */
.hoverMe:hover {
  background-color: blue;
  width: 200px;
    transform: translate(-5px, -5px);
    border-style: solid;
    border-width: 2px;
    border-color: red;
    filter: drop-shadow(5px 5px 0px blue);
}
